* {
  margin: 0em;
  padding: 0em;
  font-size: 100%;
  border-style: none;
  list-style-type: none;
  color: var(--txt-color);
}
:root {
  --txt-color: #ccd0cf;
  --heading-color: #9ba8ab;
  --primary-color: #4a5c6a;
  --border-color: #253745;
  --gray-color: #11212d;
  --dark-color: #06141b;
  --gold-color: #cda470;
}

.color-font {
  background: rgb(6, 20, 27);
  background: linear-gradient(
    270deg,
    rgba(6, 20, 27, 1) 0%,
    rgba(37, 55, 69, 1) 37%,
    rgba(204, 208, 207, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  font-family: "Times New Roman", Times, serif, calibri, sans-serif;
  background-image: url(./img/7.jpg);
}

#wrapper {
  /* background-image: url(./img/background-copy.jpg); */
  width: 900px;
  height: 550px;
  margin: auto;
  margin-top: 45px;
  background-position: center;
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
}

#inner-wrapper {
  width: 700px;
  margin: auto;
  padding: 21px;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
}

.home .container img {
  width: 330px;
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
}

nav {
  margin-top: 10px;
  font-size: 25px;
}

nav ul {
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: var(--txt-color);
}

nav a:hover {
  color: var(--heading-color);
}

.home .container {
  align-items: center;
}

.home .container div {
  margin-left: 35px;
}

.home .container p {
  font-size: 25px;
}

.home .container h1 {
  font-size: 60px;
}
h1 {
  color: var(--gold-color);
  margin: 10px 0px;
}

main img {
  margin-top: 40px;
}

.home .container #social-icon ul {
  font-size: 25px;
  margin-top: 120px;
  justify-content: space-between;
}

.line {
  position: absolute;
  height: 1px;
  width: 65%;
  background: rgb(6, 20, 27);
  background: linear-gradient(
      270deg,
      rgba(6, 20, 27, 1) 0%,
      rgba(37, 55, 69, 1) 37%,
      rgba(204, 208, 207, 1) 100%
    ),
    linear-gradient(to right, #06141b 0%, #253745 37%, #ccd0cf 100%);
}

.line.left {
  left: 0;
  margin-top: 40px;
}

.service .row {
  margin: 10rem auto 80px;
  text-align: center;
}

.service .row h6 {
  font-weight: 300;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 10px;
}

.service .row h3 {
  font-size: 48px;
  font-weight: 500;
}

.service .item-box {
  text-align: left;
  margin-top: 30px;
  padding: 60px 40px;
}

.services .item-box .icon {
  text-align: center;
  font-size: 60px;
  width: 80px;
}
