* {
  margin: 0em;
  padding: 0em;
  font-size: 100%;
  border-style: none;
  list-style-type: none;
  color: var(--txt-color);
}
:root {
  --txt-color: #ccd0cf;
  --heading-color: #9ba8ab;
  --primary-color: #4a5c6a;
  --border-color: #253745;
  --gray-color: #11212d;
  --dark-color: #06141b;
}

body {
  font-family: "Times New Roman", Times, serif, calibri, sans-serif;
  background-image: url(./img/7.jpg);
}

#wrapper {
  background-image: url(./img/background-copy.jpg);
  width: 900px;
  height: 600px;
  margin: auto;
  margin-top: 45px;
  background-position: center;
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
}

#inner-wrapper {
  width: 750px;
  margin: auto;
  padding: 21px;
}

#home img {
  width: 300px;
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
}

nav {
  margin-top: 10px;
  font-size: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: var(--heading-color);
}

main {
  display: flex;
  justify-content: space-between;
}

#home {
  display: flex;
  align-items: center;
}

#home div {
  margin-left: 35px;
  font-size: 35px;
}
#home p {
  font-size: 25px;
}

#home h1 {
  font-size: 60px;
}
h1 {
  color: #cda470;
  margin: 10px 0px;
}

/* main a {
  text-decoration: none;
} */

/* main a:hover {
  text-decoration: underline;
} */

main img {
  margin-top: 30px;
}
