* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border-style: none;
  list-style-type: none;
  color: var(--txt-color);
}

:root {
  --txt-color: #ccd0cf;
  --heading-color: #9ba8ab;
  --primary-color: #4a5c6a;
  --border-color: #253745;
  --gray-color: #11212d;
  --dark-color: #06141b;
  --gold-color: #cda470;
}

.color-font {
  background: rgb(6, 20, 27);
  background: linear-gradient(
    270deg,
    rgba(6, 20, 27, 1) 0%,
    rgba(37, 55, 69, 1) 37%,
    rgba(204, 208, 207, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html{
    /* mmd added */
    position: absolute;
    height: 100%;
    width: 100%;
}

body {
  font-family: "Times New Roman", Times, serif, calibri, sans-serif;
  background-image: url(./img/7.jpg);
  background: linear-gradient(
    180deg,
    rgba(6, 20, 27, 1) 0%,
    rgba(37, 55, 69, 1) 37%,
    rgba(204, 208, 207, 1) 100%
  );
}

img {
  width: 100%;
  height: auto;
}

p {
  color: #888;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  margin: 0;
}

.bg {
  background-color: aliceblue;
  position: absolute;
  height: 100%;
  width: 100%;
}

#wrapper {
  width: 1000px;
  height: 500px; /* Use viewport height for full height */
  margin: 65px auto 0; /* Adjust margin as needed */
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
  /* background-image: url(./img/6.jpg); */
  background-color: #11212d;
  /* background-repeat: no-repeat;
  background-size: cover;
  position: relative; /* Ensure proper positioning 
  overflow: hidden; */
  border-radius: 20px;
  
}

#inner-wrapper {
  width: 830px;
  margin: auto;
  padding: 15px;
}

.flex {
  display: flex;
}

.o-hidden {
  overflow: overlay;
}

.o-hidden a {
  color: #11212d;
  text-decoration: none;
}

.o-hidden a:hover {
  text-decoration: none;
}

.container {
  max-width: 1200px;
}

.container .row {
  margin-top: 90px;
}

.home .container img {
  width: 300px;
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
  border-radius: 20px;
}

nav {
  margin-top: 10px;
  font-size: 20px;
}

nav ul {
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: var(--txt-color);
}

nav a:hover {
  color: var(--heading-color);
}

.home .container {
  align-items: center;
  margin: 10px 0;
}

.home .container div {
  margin-left: 60px;
}

.home .container p {
  font-size: 15px;
}

.home .container h1 {
  font-size: 60px;
  color: var(--gold-color);
  margin: 10px 0;
}

main img {
  margin-top: 25px;
}

.home .container #social-icon ul {
  font-size: 20px;
  margin-top: 30px;
  justify-content: space-between;
  width: 70%;
}

.line {
  position: absolute;
  height: 1px;
  width: 65%;
  background: rgb(6, 20, 27);
  background: linear-gradient(
      270deg,
      rgba(6, 20, 27, 1) 0%,
      rgba(37, 55, 69, 1) 37%,
      rgba(204, 208, 207, 1) 100%
    ),
    linear-gradient(to right, #06141b 0%, #253745 37%, #ccd0cf 100%);
}

.line.left {
  left: 0;
  margin-top: 40px;
}

.service .row {
  margin: 10rem auto 80px;
  text-align: center;
  justify-content: center;
}

.service .row h6 {
  font-weight: 300;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 10px;
}

.service .row h3 {
  font-size: 48px;
  font-weight: 500;
}

.service .item-box {
  text-align: left;
  margin-top: 30px;
  padding: 60px 40px;
  flex: 0 0 50%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  max-width: 50%;
}

.services .item-box .icon {
  text-align: center;
  font-size: 60px;
  width: 80px;
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  padding: 30px 0;
  color: #fff;
  transition: all 0.7s;
}

.topnav .container-fluid {
  padding: 0 50px;
}

.topnav .logo {
  width: 80px;
}

.topnav .menu-icon {
  margin-left: auto;
  cursor: pointer;
}

.topnav .menu-icon .icon i {
  display: block;
  width: 20px;
  height: 3px;
  background: #fff;
  margin: 4px 0;
}

.topnav .menu-icon .text {
  font-size: 13px;
  font-weight: 500;
  padding-left: 15px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.hamenu .menu-links {
  margin-top: 30px;
}

.hamenu .menu-links .main-menu {
  position: relative;
  z-index: 2;
}

.hamenu .menu-links .o-hidden {
  display: inline-block;
}

.hamenu .menu-links .main-menu > li {
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
  width: max-content;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

.hamenu .menu-links .main-menu > li .link {
  transform: translateY(45px);
  transition: all 0.7s;
  cursor: pointer;
}

.hamenu.open .menu-links .main-menu > li .link {
  transform: translateY(0);
  transition-delay: 1s;
}

.hamenu .menu-links .main-menu > li span.nm {
  opacity: 0.8;
  font-size: 11px;
  margin-right: 10px;
  color: black;
}

.hamenu .menu-links .main-menu > li .link i {
  font-size: 15px;
  margin-left: 5px;
}

.hamenu .menu-links .main-menu .sub-menu {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition-delay: 0.2s;
}

.hamenu .menu-links .main-menu .sub-menu li {
  color: #333;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 8px 10px;
  width: max-content;
}

.hamenu .menu-links .main-menu .sub-menu li .sub-link.back {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.hamenu .menu-links .main-menu .sub-menu li .sub-link.back i {
  margin-left: 10px;
}

.hamenu .cont-info {
  margin-top: 85px;
  position: relative;
  color: #06141b;
  padding: 10px;
}

.hamenu .cont-info .item {
  margin-bottom: 30px;
  transform: translateY(-30px);
  /* opacity: 0; */
  transition: all 0.7s;
}

.hamenu.open .cont-info .item {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 1s;
}

.hamenu .cont-info .item h6 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #11212d;
}

.hamenu .cont-info .item a {
  color: #888;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  margin: 0;
}

.hamenu .cont-info:after {
  content: "";
  width: 1px;
  height: 0;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: -40px;
  top: -170px;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

.hamenu.open .cont-info:after {
  height: 100vh;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
